.itemlistcontainer {
  padding: 20px;
}

.itemlist {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.expandir {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.contraer {
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
